body {
    overflow: hidden;
}

#editor {
    width: 100%;
    height: 95%;
    border: "1px solid #ddd";
}

#toplevel-container {
    width: 50%;
    background-color: white;
    color: #ccc;
    overflow: auto;
    overflow-x: hidden;
    height: 100vh;
    float: left;
    padding: 10px;
    padding-top: 20px;
}

#toplevel-side pre#output {
    padding: 0px;
}

#toplevel-side #output {
    background-color: transparent;
    border: "1px solid #ddd";
    color: #ccc;
    line-height: 18px;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, monospace;
    margin-bottom: 0px;
    height: 80%;
}

#toplevel-side textarea {
    width: 90%;
    line-height: 18px;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    border: 0;
    resize: none;
    outline: none;
    font-family: Menlo, Monaco, Consolas, monospace;
    font-weight: bold;
    float: left;
    margin: 0px;
    padding: 0px;
}

#toplevel-side {
    position: relative;
    width: 45%;
    height: 100vh;
    overflow: auto;
    text-align: justify;
    float: left;
    margin-left: 30px;
}

#toplevel-side ul {
    padding: 0px;
    list-style-type: none;
}

.stderr {
    color: #d9534f;
}

.stdout {
    color: #111111;
}

.errorloc {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: red;
}

canvas {
    border: 1px dashed black;
    float: left;
    margin: 7px;
}

#output canvas {
    background-color: #464646;
    float: none;
    display: block;
    border: 1px dashed while;
    margin: 7px;
}

#output img {
    display: block;
}

#toplevel-examples {
    width: 270px;
    float: left;
}

#toplevel-examples .list-group-item {
    padding: 5px 15px;
}

#btn-exec {
    float: right;
    margin-top: -20px;
    background-color: rgb(92, 129, 184);
    border-color: rgb(70, 75, 128);
    padding: 1px 5px;
    display: none;
}

#btn-clear {
    float: right;
    margin-top: -20px;
    background-color: rgb(92, 129, 184);
    border-color: rgb(70, 75, 128);
    padding: 1px 5px;
    display: none;
}

.clear {
    clear: both;
}